<!DOCTYPE html>
<html>
<head>
  <title>NewsSignup</title>
  <%= stylesheet_link_tag    "news_signup/application", :media => "all" %>
  <%= javascript_include_tag "news_signup/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
