-content_for :header do
  The Next Big Thing

%p Find nothing out about it right here!

%p Also: sign up to receive our updates

%form
  %input#signup

#results

:javascript
  window.createTeaserUrl = "#{tease_index_url}";